
table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 0;
    border: 1px solid black;
    text-align: center;
}

th {
    background-color: black;
    color: white;
    text-align: center;
}

td {
    color: black;
}

tbody tr:nth-child(even) {
    background-color: gray;
    
}

tbody tr:nth-child(odd) {
    background-color: white;

}

tbody tr:hover {
    background-color: #ddd;

}